#slogan {
    width: 50%;
    float: left;
    height: 600px;

}

#slogan img {
    height: 600px;
    width: 90%;
}

#login {
    width: 50%;
    height: 600px;
    float: right;

}

#login .login-method-container .gmail-method .button-wrapper .gmail-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;

}

/* footer section*/
.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
    margin-top: 600px;
}

.footer_section h4 {
    font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

.footer_section p {
    color: #dbdbdb;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}

.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
}

.footer_section .footer_social a:hover {
    color: #ffbe33;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}

#content #login .login-container .login-form .login-box {
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid white;

}

#content #login .login-container .login-form .login-box label {
    display: block;
}

#content #login .login-container .login-form .login-box .login-box-input {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;


}

#content #login .login-container .login-form .login-box .login-box-input:focus {
    outline: none;
}

#content #login .login-container .login-form .forget-password-container #forget-password-button {
    width: 200px;
    margin-left: 500px;
    color: black;
    border: none;
    background: white;
}

#content #login .login-container .login-form .forget-password-container #forget-password-button:focus {
    border: none;
    outline: none;
}

#content #login .login-container .login-form .login-button-container, .login-method-container {
    width: 600px;
    height: 50px;
    margin: 20px auto 20px auto;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    border-radius: 150px;

}

.login-method-container .gmail-icon {
    width: 16px;
    height: 16px;
}

.login-method-container .login-method {
    margin-bottom: 20px;
}

#content #login .login-container .login-form .login-button-container button, .login-method-container .login-method button {
    width: 600px;
    height: 50px;
    border-radius: 150px;
    border: none;
    background: #28a745;
    color: white;
    font-weight: bold;
}

.login-method-container .login-method #facebook-button {
    background: #3b5998;
}

.login-method-container .login-method #gmail-button {
    background: #e4002b;
}

#content #login .register-container {
    margin-top: 150px;
    float: left;
    width: 240px;
    margin-left: 250px;

}

#content #login .register-container p {
    width: 180px;
    float: left;
}

#content #login .register-container a {
    float: left;
}
.hidden-body-background{
    background: rgba(0, 0, 0, 0.3);


}
#modal  {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;

}

#modal-inner {
    width: 700px;
    height: 350px;
    background: white;
    margin: 0 auto;

}

#modal-text1, #modal-text2 {
    font-weight: bold;
    text-align: center;
}

#modal-text1 {
    padding-top: 30px;
    font-size: 25px;
}

#modal-text2 {
    font-size: 20px;
    margin-top: -25px;
}

#modal-text3 {
    text-align: center;
}

#modal #email-container-modal {
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid white;
    margin-left: 50px;
}

#modal #email-container-modal label {
    display: block;
}

#modal #email-container-modal input {
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
}

#modal #email-container-modal input:focus {
    outline: none;
}

#get-pass-by-mail {
    width: 600px;
    margin: 50px 50px 0 0;

}

#get-pass-by-mail button {
    width: 600px;
    height: 50px;
    border-radius: 150px;
    border: none;
    background: #e4002b;
    color: white;
    font-weight: bold;

}

